.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1656px;
  height: 52px;
  padding: 8px 32px 0;
  margin: 0 auto;
}

.headerList {
  display: flex;
  align-items: center;
  gap: 14px;
}

.avator {
  border-radius: 50%;
}

.postButton {
  display: flex;
  align-items: center;
  min-height: 34px;
  padding: 4px 16px;
  border-radius: 8px;
  color: white;
  background-color: #357a00;
  font-weight: 600;
  gap: 4px;
}

@media (width <770px) {
  .postButton {
    display: none;
  }
}
